@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  background-color: #635854;
}
.header-content {
  max-width: 1280px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9px;
  padding-bottom: 13px;
  margin: auto;
}
.header-content-logo {
  padding-top: 12px;
}
.header-content-nav {
  max-width: 671px;
  width: 100%;
}
.header-content-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-content-nav ul li {
  list-style: none;
}
.header-content-nav ul li a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
}
.header-content-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16\4 px;
  line-height: 16px;
  color: #FFFFFF;
}
.header-content-phone a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
}